.__scrollable__main__ {
    scroll-behavior: smooth; /* Pour un défilement fluide */
    -webkit-overflow-scrolling: touch; /* Support pour mobile */
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute; /* Correctement positionné */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  