@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #4a4a4a;
  --accent: #40B3A2;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #4a4a4a;
  }
}
/* #4a4a4a */
/* #ffffff */
/* #71b3a3 */